body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  height: 100vh;
  margin: 63px;
}

.head-1 {
  padding: 8px 0px 8px 48px;
  border-bottom: 1px solid #d9d9d9;
}

.edit-foto {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
}

.image-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 385px;
  box-shadow: 1px 1px 10px #d9d9d9;
  padding: 20px;
  margin-bottom: 2rem;
  border-radius: 10px;
}

img {
  margin: 1rem;
  border-radius: 10px;
}

.biodata {
  display: flex;
  padding: 48px;
  flex: 1;
}

button[type="submit"] {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  width: 30%;
  margin-bottom: 1rem;
}

button[type="edit"] {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.edit-biodata {
  flex: auto;
}

main {
  box-shadow: 1px 1px 10px #d9d9d9;
  border-radius: 10px;
}

td {
  width: 110px;
  padding-left: 10px;
}

.Ubah {
  color: #00aa13;
}

table {
  margin-bottom: 1rem;
}
